#contextual-help-link-wrap,
#screen-options-link-wrap {
  background: transparent;
  box-shadow: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#screen-meta-links .show-settings {
  background-color: transparent;
  box-shadow: none;
}

#screen-meta-links .screen-meta-toggle {
  height: auto;
  margin: 20px 0 0;
}

#screen-meta-links .screen-meta-toggle:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

#screen-meta-links .screen-meta-toggle:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

hr.wp-header-end {
  margin: 18px 0 0;
}
